body {
    padding: 0;
    margin: 0;
}

#controller {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.controller-icon-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.controller-icon-set img {
    height: 30vh;
}


.controller-icon-set span {
    font-family: Arial, sans-serif;
    margin-top: 20px;
    font-size: 20px;
}
